@tailwind base;
@tailwind components;


.btnStandard {
  @apply inline-flex items-center rounded-md border border-gray-300
   bg-indigo-800 px-4 h-12 text-sm font-medium text-white shadow-sm
   hover:bg-indigo-600 hover:shadow-md focus:ring-2 focus:ring-indigo-500
   disabled:bg-gray-500
}
.inputCamp{
  @apply autofill:shadow-[inset_0_0_0px_30px_rgb(255,255,255)] border-2 rounded-md p-2  focus:outline-none focus:border-indigo-800   bg-transparent 
}

.labelFloatInput {
  @apply duration-300 transform -translate-y-6 absolute text-gray-400
   bg-white top-3.5 left-4  peer-focus:text-indigo-800 peer-focus:font-semibold 
    peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6 peer-focus:scale-110 peer-focus:duration-300 
}

.labelFloatTxtArea {
  @apply duration-300 transform -translate-y-6 absolute bg-white text-gray-400
   top-3.5 left-4  peer-focus:text-indigo-800 peer-focus:font-semibold 
   peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6 peer-focus:scale-110 peer-focus:duration-300
}

.labelFloatDate {
  @apply duration-300 transform -translate-y-6 absolute text-gray-400 top-1.5 left-4
   peer-focus:text-indigo-800 peer-focus:font-semibold peer-focus:-translate-x-1 peer-focus:scale-110 peer-focus:duration-300 peer-focus:bg-transparent
}

.photoBoard {
  @apply flex justify-center rounded-md border-2 border-dashed hover:font-bold
   border-gray-300 duration-100 hover:border-indigo-800 text-gray-400 hover:text-indigo-800 mt-3 relative 
}

.tableCamp {
  @apply px-6 py-4 max-w-prose overflow-auto text-center
}

@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}